
.navegador {
	width:100%;
	margin-bottom:10px;
}

.navegador button {
	width:49%;
	padding:0px !important;
	margin:0px !important;
	background:#428bca;
	border-color:white;
	color:white;
	outline:0px;
}

.entradas {
	display:block;
}

.insertar {
	display:none;
}

.insertar input, .insertar label, .insertar textarea {
	width:100%;
}

.insertar input, .insertar textarea {
	margin-bottom:15px;
}